*{
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: linear-gradient(-45deg, #000000, #434343);
    background-size: 40000% 40000%;
    animation: gradient 15s ease infinite;
    width: 100%;
    text-align: center;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.title-container{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.section-name{
    color: #fff;
    font-family: 'Patrick Hand SC', cursive;
    width: 100%;
    text-transform: none;
}

h1{
	text-transform: uppercase;
	font-size: 50px;
	line-height: 0.5;
	margin: 10px 0;
    padding-top: 10px;
}

/*---------- Temp Logo ----------*/

.title{
    font-family: 'Cabin Sketch', cursive;
    text-align: center;
    color: #FFF;
    display: flex;
    flex-direction: column;
    float: left;
    margin: .5em;
    margin-left: 1em;
    height: auto;
    letter-spacing: 1px;
}


.logo {
    text-decoration: none;
}

/*---------- Nav Bar ----------*/

.navbar{
}

.header {
    margin-bottom: 5em;
    width: 100%;
}

nav{
    position: fixed;
    top: 0;
    margin: 0;
    width: 100%;
    background: #000000; /* for old browsers (learned during senior project) */
    /*background: -webkit-linear-gradient(to right, #000000, #434343);*/
    background: linear-gradient(to right, #f09, #3023AE, #0ff);
}


.nav-text{
    color: #fff;
    font-family: 'Patrick Hand SC', cursive;
    font-size: 1.2em;
}


nav ul{
    margin: 1em;
    padding: 0;
    list-style: none;
    float: right;
}

nav li{
    display: inline-block;
    margin: 1em;
}

nav a{
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    padding: .5em;
    color: #FFF;
}

nav a:hover,
nav a:focus {
    color: skyblue;
}

@media (min-width: 80rem) {
    nav{
        float: right;
    }
}

/*---------- About Me ----------*/

.about_me_section{
    position: relative;
    overflow: auto;
}
.about_me{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding 1em;
    color: #FFF;
    top: 0px;
    bottom: 0px;
    float: left;
    max-width: 50vw;
}

.about_me_section ul{
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: absolute;
    bottom: 0px;
    color: #FFF;
    left: 0px;
    text-align: left;
}

.about_me_section ul a:visited{
    color: aqua;
}

.image{
    max-width: 50vw;
    float: right;
    padding: 1em;
}