*{
    box-sizing: border-box;
    
}

body {
    --main-color: #FFF;
    --nav-color: #000;
    --highlight-color: #003994;
    font-family: Cambria, Georgia, serif;
    margin: 0;
    background-color: var(--nav-color);
    background-size: 40000% 40000%;
    animation: gradient 15s ease infinite;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: visible;
}

body.dark-mode{
    --main-color: #000;
    --nav-color: #FFF;
    --highlight-color: #b50000;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.title-container{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.section-name{
    color: var(--main-color);
    font-family: Cambria, Georgia, serif;
    width: 100%;
    text-transform: none;
}

.pf-section-name{
    color: var(--main-color);
    font-family: Cambria, Georgia, serif;
    width: 100%;
    text-transform: none;
    font-size: 4vh;
}

/*.proj_sec_name{
    color: var(--main-color);
    font-family: Cambria, Georgia, serif;
    text-transform: none;
    text-align: left;
    margin-left: 1em;
    font-size: 4vh;
}*/

h1{
	text-transform: uppercase;
	font-size: 4vw;
	line-height: 0.5;
	margin: 10px 0;
    padding-top: 10px;
}

.stick-handler{
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: -webkit-sticky;
    position: sticky;
    top: 0;    
}

/*---------- Temp Logo ----------*/

/*.title{

}*/


.logo {
    font-family: Cambria, Georgia, serif;
    text-align: center;
    color: var(--highlight-color);
    display: flex;
    flex-direction: column;
    float: left;
    margin: .5em;
    margin-left: 1em;
    height: auto;
    letter-spacing: 1px;
    position: absolute;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    top: 0px;
    margin: 0;
}

.logo h2{
    color: var(--highlight-color);
    padding-left: 5px;
}

/*---------- Landing Page ----------*/

.filler{
    min-height: 100vh;
    position: relative;
}

.opener-button{
    color: black;
    font-size: 5vw;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 60%;
    border: 6px solid black;
    border-radius: 30px;
    background-color: rgba(0,0,0,0.2);
}

.scroll-container{
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: 10vh;
    background: var(--nav-color);
}

/*
#scroll_start{
    position: absolute;
    top: 100vh;
}
*/

.landing-page-section{
    position: fixed;
    /*overflow: auto;*/
    height: 100vh;
    min-height: 100vh;
    min-width: 100vw;
    background: linear-gradient(-45deg, #ffffff, var(--highlight-color));
    animation: gradient 1s ease infinite;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -99;
}

.landing-page-section *{
    position: relative;
    margin: auto;
    border: auto;
    text-align: center;
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 24px;
}

.landing-page-section a{
    cursor: pointer;
}

.landing-page-section img{
    height: 100%;
}

.landing-page-links{
    display: flex;
    flex-direction: row;
}

.landing-page-links *{
    margin: 2vw;
}
/*---------- About Me ----------*/

.about-me-section{
    position: relative;
    overflow: hidden;
    height: 85vh;
}
.about-me{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding 1em;
    color: var(--main-color);
    top: 0px;
    bottom: 0px;
    float: left;
    max-width: 50vw;
}

.about-me-section ul{
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: absolute;
    bottom: 0px;
    color: var(--main-color);
    left: 0px;
    text-align: left;
}

.about-me-section ul a:visited{
    color: var(--highlight-color);
}

.image{
    max-width: 50vw;
    float: right;
    padding: 1em;
}

@media (max-width: 70em){
    .image{
    display:none;
    }
    .about-me{
        max-width: 100vw;
    }
}

.image ul{
    left: auto;
    padding: 1em;
    right: 0px;
}


.desc-myself{
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 10vh;
    font-size: 24px;
}
/*----------Resume----------*/
.resume-section{
    height: 85vh;
    max-width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
}

.resume{
    height: 90%;
}

.btn-menu{
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 30vw;
    height: 10%;
    float: right;
    bottom: 0px;
    right: 0px;
}

.button{
    background: var(--highlight-color);
    width: 10vw;
    height: 100%;
    margin-left: 2vw;
}

.button:hover{
    filter: brightness(70%);
    /**background: var(--nav-color);**/
    cursor: pointer;
}


.button:hover::before{
    opacity: 0;
}


.button:hover::after{
    opacity: 1;
    transform-origin: 100px, 100px;
    transform: scale(1) translate(-10px, -70px);
}
.button p{
    color: var(--main-color);
    justify-content: center;
    text-align: center;
    font-size: 15px;
}


/*---------- Nav Bar ----------*/

.navbar{
}

.header {
    /*margin-bottom: 5em;*/
    width: 100%;
    height: 5vh;
}
    

nav{
    float: right;
    
    position: absolute;
    border: 1px;
    width: 100%;
    height: auto;
    background: #000000; /* for old browsers (learned during senior project) */
    /*background: -webkit-linear-gradient(to right, #000000, #434343);*/
    background: linear-gradient(to right, var(--nav-color), #19191f, var(--highlight-color));
}


.nav-text{
    color: var(--nav-color);
    font-family: Cambria, Georgia, serif;
    font-size: 24px;
}


nav ul{
    margin: 1em;
    padding: 0;
    list-style: none;
    float: right;
    text-align: right;
}

nav li{
    display: inline-block;
    margin: 1em;
}


nav a{
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    padding: .5em;
    color: #FFF;
}

nav a:hover,
nav a:focus {
    color: skyblue;
    cursor: pointer;
}

.dropMenu{
    background: #000000; /* for old browsers (learned during senior project) */
    /*background: -webkit-linear-gradient(to right, #000000, #434343);*/
    background: linear-gradient(to right, var(--nav-color), #19191f, var(--highlight-color));
    width: 100%;
    margin: auto;
    display: none;
}

.drop-link{
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    padding: .5em;
    color: #FFF;
}

@media (min-width: 80rem) {
    nav{
        float: right;
    }
}

@media (max-width: 70em){
    nav li{
        display: none;
    }
}

@media (min-width: 70em){
    nav a.dropdown{display: none;}
}

/*----------Projects----------*/
.projects-section{
    height: 85vh;
    max-width: 100vw;
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

.current-projects{
    height: 30%;
    max-width: 100vw;
    position: relative;
    display: flex;
    flex-direction: row;
}

.cur-proj-container{
    width: 50%;
    height: 100%;
    /**margin-left: 5%;
    margin-right: 5%;**/
    background: rgba(110, 110, 110, 0);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    
}

.cur-proj-container:hover{
    background: rgba(110, 110, 110, 0.2);
}

.prev-projects{
    height: 100%;
    max-width: 90vw;
    position: relative;
    display: flex;
    flex-direction: row;
}

.prev-proj-cont{
    display: flex;
    flex-direction: row;
    height:100%;
    width: 100%;
}

.arrow{
    margin: auto;
    font-size: 50px;
    cursor: pointer;
    color:var(--main-color);
}

.prev-proj-container{
    width:25%;
    height: 80%;
    background: rgba(110, 110, 110, 0);
    display: flex;
    flex-direction: column;
    margin-left:  auto;
    margin-right: auto;
    text-align: left;
    cursor: pointer;
}

.prev-proj-container:hover{
    background: rgba(110, 110, 110, 0.2);
}

.prev-proj-container p.proj-desc{
    margin-left: 5%;
}

.proj-title{
    text-decoration: underline;
    text-decoration-color: var(--main-color);
    color: var(--main-color);
    font-size: 20px;
}

.proj-desc{
    color:var(--main-color);
    font-size: 20px;
}

.proj-thumb{
    height:auto;
    max-width: 100%;
    margin-top: 5%;
}

.proj_sec_name{
    color: var(--main-color);
    font-family: Cambria, Georgia, serif;
    width: 100%;
    text-transform: none;
    font-size: 4vh;
}

.proj-sec-desc{
    color:var(--main-color);
    font-size: 20px;
    text-align: left;
    margin-left: 5em;
    width: 90%;
}

@media (max-width: 70em){
    .proj-page-image img{
    display:none;
    }
}


/***********Projects HTML***********/
.proj-page-image{
    height: 40vh;
    top: 15vh;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.proj-page-image img{
    /*height: 100%;*/
    max-width: 40%;
    margin-right: auto;
    margin-left: 5%;
}

.proj-page-image p{
    /*height: 100%;*/
    max-width: 70%;
    margin-right: auto;
    margin-left: auto;
}

.proj-bottom{
    display: flex;
    margin-top: 5vh;
    flex-direction: row;
    height: auto;
}

.proj-languages{
    height: auto;
    width: 50vw;
    margin-top: 10vh;
}

.proj-links-list{
    height: auto;
    width: 50vw;
    margin-top: 10vh;
}

.proj-links{
    display: flex;
    right; 0px;
    flex-direction: row;
    margin: 10px;
}

.proj-links-list li{
    color: var(--main-color);
}

.proj-link-name{
    color: var(--highlight-color);
    font-size: 15px;
    margin-top: auto;
}

.proj-link-site{
    color:var(--main-color);
    font-size: 13px;
    text-decoration: none;
    margin-left: 5px;
}

/*
.proj-desc-and-title{
    display: flex;
    flex-direction: column;
}
*/

.proj-details{
    width: 100%;
    display: flex;
    margin-top: 5vh;
    flex-direction: column;
}